rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read/write access to authenticated users or super admins
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
